/* set up document */
:root {
	/* maximize space */
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	/* base font for now */
	font-family: 'Roboto Slab', serif; /*'Lato', sans-serif*/

	/* color variables */
	--light-blue: #009CEE;
	--dark-blue: #1B306C;
	--my-yellow: #FCFE00;
	--bright-red: #F50040;

	color: var(--dark-blue);
}

/* scrollbar adjustments */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  	background: #f1f1f1;
}

/* handle */
::-webkit-scrollbar-thumb {
  	background: #888;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #555;
}

/* body */
body {
	height: 100vh;
	/* setting up main page */
	display: grid;
	grid-template-rows: 95vh auto auto;
	grid-template-columns: 82.5vw 15vw;
	grid-row-gap: 10%;
}

/* M A I N  C O N T E N T */
/* ---------------------- */


/* H E A D E R */
/* ----------- */

header {
	grid-area: 1 / 1 / 2 / 3;
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-columns: 30% 20% 20% 30%;
	width: 95%;
	justify-self: center;
}

.logo-container {
	grid-area: 1 / 4 / 2 / 5;
	align-self: start;
	justify-self: end;
	padding-right: 1%;
}

#main-pic {
	grid-area: 2 / 4 / 3 / 5;
	width: 100%;
	height: 100%;
	align-self: start;
	position: relative;
	bottom: 20%;
	object-fit: cover;
}

.rect {
	opacity: 0.2;
}

#rect1 {
	grid-area: 1 / 1 / 2 / 3;
	position: relative;
	left: 10%;
	top: 20%;
	background-color: grey;
}

header>h1 {
	grid-area: 1 / 1 / 2 / 3;
	margin: 0;
	align-self: center;
	justify-self: start;
	padding: 2% 4% 2% 4%;
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	z-index: 1;
}

header>h3 {
	grid-area: 2 / 1 / 3 / 3;
	margin: 0;
	align-self: center;
	justify-self: center;
	width: 80%;
	font-weight: normal;
	font-size: 1.5em;
	z-index: 1;
}

#rect2 {
	grid-area: 2 / 1 / 3 / 3;
	position: relative;
	width: 40%;
	background-color: grey;
}

#social {
  grid-area: 3 / 4 / 4 / 5;
	justify-self: stretch;
	align-self: center;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 5% 0 5% 0;
}

#rect3 {
	grid-area: 3 / 4 / 4 / 5;
	position: relative;
	right: 40%;
	bottom: 80%;
}

#social>ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

#social>ul>a {
	text-align: center;
}

#social>ul>a>img {
	width: 35%;
	-webkit-transition: width 0.3s, height 0.3s, -webkit-transform 0.3s; /* Safari */
  transition: width 0.3s, height 0.3s, transform 0.3s;
}

#social>ul>a>img:hover {
	-webkit-transform: rotate(-25deg); /* Safari */
  transform: rotate(-25deg);
}

nav {
	grid-area: 2 / 3 / 3 / 4;
	justify-self: center;
	align-self: center;
}

nav>ul {
	list-style-type: none;
	font-size: 1.5em;
	text-align: left;
}

nav>ul>li>object>a {
	display: inline-block;
	text-decoration: none;
	z-index: 2;
	color: var(--dark-blue);
	-webkit-transition: -webkit-transform 0.2s; /* Safari */
  transition: transform 0.2s;
}

nav>ul>li>object>a:hover {
  -webkit-transform: scale(1.2); /* Safari prior 9.0 */
  transform: scale(1.2);
}

nav>ul>li>object>a:active {
	font-size: 1.2em;
	color: grey;
}

.logo>img {
	width: 50px;
}

/* M A I N */
/* ------- */

main {
	grid-area: 2 / 1 / 3 / 2;
	display: grid;
	grid-template-rows: repeat(auto-fill, 70vh);
	grid-template-columns: repeat(auto-fill, 25vw);
	grid-gap: 2%;
	justify-content: space-between;
	width: 95%;
	margin: auto;
}

#rect-grid {
	grid-area: 2 / 1 / 3 / 2;
	display: grid;
	grid-template-rows: repeat(auto-fill, 70vh);
	grid-template-columns: repeat(auto-fill, 25vw);
	grid-gap: 2%;
	justify-content: space-between;
	width: 95%;
	margin: auto;
}

#rect4 {
  position: relative;
	bottom: 10%;
	left: 5%;
	height: 50vh;
	width: 23vw;
}

#rect5 {
	position: relative;
	bottom: 10%;
	left: 5%;
	height: 50vh;
	width: 23vw;
}

#rect6 {
	position: relative;
	bottom: 10%;
	left: 5%;
	height: 50vh;
	width: 23vw;
}

.project-block {
	/* adjust spacing of project containers */
	display: flex;
	flex-direction: column;
	/*padding: 3vh 0;*/
	margin: 0;
	justify-content: start;
	align-items: start;
	text-align: left;
	z-index: 1;
	text-shadow: 2px 2px 2px lightgrey;
}

.project-block h2 {
	margin-top: 0;
}

.project-block p {
	margin: 0 0 2% 0;
	font-size: 0.9em;
	font-family: 'Lato';
}

.project-block p>span {
	color: #259e60;
}

.project-block>ul {
	/* adjust spacing and decoration of project block list of tags */
	display: flex;
	width: 100%;
	padding: 0;
	list-style-type: none;
	justify-content: space-between;
}

.project-block>picture>img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	object-position: right top;
	transition: transform 0.2s;
}

.project-block>picture>img:hover {
	transform: translateY(-10px);
}

.project-block span {
/*	font-size: 0.9em;
	background-color: var(--dark-blue);
	padding: 2% 5%;
	margin: 0 2.5% 0 0;
	border-radius: 3%;
	color: white;
	white-space: nowrap;*/
}

.see-details {
	width: 85%;
	object-fit: contain;
	margin: auto;
	margin-top: 5%;
	transition: transform .2s;
}

.see-details-container-link {
	display: inline-block;
	width: 11vw;
	height: 11vh;
}

.see-details:hover {
	/*width: 90%;*/
	object-fit: contain;
	transform: scale(1.1);
}

/* T A G S */
/* ------- */

#tags {
	grid-area: 2 / 2 / 3 / 3;
	padding-top: 3vh;
}

#tags>ul {
	padding: 1vh 0;
	display: grid;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: 75% 25%;
	grid-row-gap: 10%;
	align-items: end;
	position: sticky;
	top: 15%;
	z-index: 1;
	margin-top: 0;
}

.all-the-tags input[type="checkbox"] {
	padding: 0px;
	opacity: 0.5;
}

.all-the-tags input[type="checkbox"]:hover {
	box-shadow: 0px 0px 4px grey;
}

.all-the-tags input + label {
	background-image: url(../images/buttons/checkmark-blank_1@2x.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 25%;
	width: 100%;
}

.all-the-tags input[type="checkbox"]:checked + label {
	background-image: url(../images/buttons/checkmark-filled@2x.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 25%;
	width: 100%;
}

#design-tag {
	grid-area: 1 / 1 / 2 / 2;
	text-align: right;
}

#design {
	grid-area: 1 / 2 / 2 / 3;
}

#ui-tag {
	grid-area: 2 / 1 / 3 / 2;
	text-align: right;
}

#ui {
	grid-area: 2 / 2 / 3 / 3;
}

#audio-tag {
	grid-area: 3 / 1 / 4 / 2;
	text-align: right;
}

#audio {
	grid-area: 3 / 2 / 4 / 3;
}



/* F O O T E R */
/* ----------- */

footer {
	grid-area: 3 / 1 / 4 / 2;
  width: 95%;
	position: relative;
	bottom: 3vh;
	margin: 0 auto 3vh auto;
  text-align: left;
  height: 70px; /* set the fixed height of the footer here */
  line-height: 30px; /* vertically center the text there */
}

footer>img {
	width: 5%;
}

/* M E D I A  Q U E R I E S */
/* ------------------------ */

/* tablet sizes */
@media only screen and (max-width: 1020px) {

	/* make sure body takes up full viewport space */
	/*body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
	}

	header {
		grid-template-rows: 10vh 30vh 10vh;
		grid-template-columns: 5% 30% 2% repeat(2, 30%) 5%;
	}*/

	.logo-container {
		padding-right: 3%;
		padding-top: 3%;
	}

	/* project blocks */
	.project-block>picture>img {
	/*	width: 500px;
		height: 300px;*/
		object-fit: cover;
		object-position: right top;
	}

	/* nav adjustments */
	/* - make nav links take up more space */
	nav>div>a {
		margin-left: 8%;
	}

	nav>div {
		flex: 1;
	}

	nav>ul {
		flex: 3;
	}

	#social>ul>a>img {
		width: 40%;
	}

	.project-block {
		width: 70%;
	}

	.project-block>ul {
		width: 50%;
	}

	.see-details-container-link {
		width: 25%;
	}

	footer {
		width: 80%;
	}
}

/* phone sizes */
@media only screen and (max-width: 740px) {

	/* body */
	/*body {
		grid-template-rows: 50px 10% 20% 20% 15% auto;
		grid-template-columns: 5% 1fr repeat(3, 20%) 20px;
	}*/

	header {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 50% 50%;
	}

	header>h3 {
		grid-area: 2 / 1 / 3 / 2;
		font-size: 0.8em;
	}

	.logo-container {
		grid-area: 1 / 2 / 2 / 3;
		padding-right: 5%;
	}

	nav {
		grid-area: 2 / 2 / 3 / 3;
		padding-right: 5%;
	}

	#social {
		grid-area: 3 / 1 / 4 / 3;
	}

	#social>ul>a>img {
		width: 40%;
	}

	#main-pic {
		display: none;
	}

	/* tags */
	#tags {
		/*position: fixed;
		top: 55vh;
		width: 100%;*/
		grid-area: 5 / 1 / 7 / 7;
		padding: 3vh 0;
	}

	#tags>ul {
		padding: 1vh 2vw;
		display: grid;
		width: 80%;
		margin: auto;
		z-index: 0;
		top: 10px;
		grid-template-rows: auto auto;
		grid-template-columns: 37.5% 12.5% 37.5% 12.5%;
		background-color: lightgrey;
	}

	.grid {
		grid-area: 5 / 1 / 7 / 7;
	}

	.sticky {
		position: fixed;
		width: 100%;
		top: 10px;
	}

	.all-the-tags input[type="checkbox"]:checked + label {
		padding-right: 25px;
		background-image: none;
	}

	.all-the-tags input + label {
		background-image: none;
	}

	#design-tag {
		grid-area: 1 / 1 / 2 / 2;
		text-align: right;
	}

	#design {
		grid-area: 1 / 2 / 2 / 3;
	}

	#audio-tag {
		grid-area: 1 / 3 / 2 / 4;
		text-align: right;
	}

	#audio {
		grid-area: 1 / 4 / 2 / 5;
	}

	/* main */
	main {
		grid-area: 6 / 2 / 7 / 6;
	}

	.project-block {
		width: 100%;
	}

	.project-block>picture>img {
		/*width: 300px;
		height: 120px;*/
		object-fit: cover;
		object-position: right top;
	}

	.see-details-container-link {
		z-index: 2;
	}

	footer {
		padding-bottom: 10px;
	}
}

@media only screen and (max-width: 500px) {
	.all-the-tags input[type="checkbox"]:checked + label {
		padding-right: 25%;
	}
}

@media only screen and (max-width: 385px) {
	#tags>ul {
		grid-template-columns: 50% 10% 30% 10%;
	}


}

/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {

	.all-the-tags input[type="checkbox"]:checked + label {
		padding-right: 25px;
		background-image: none;
	}

	.all-the-tags input + label {
		background-image: none;
	}

	footer {
		padding-bottom: 3%;
	}
}
