/* set up document */
body, html {
	/* maximize space */
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	/* base font for now */
	font-family: 'Lato', sans-serif;

	/* color variables */
	--light-blue: #09c0f8;
}

/* scrollbar adjustments */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  	background: #f1f1f1; 
}

/* handle */
::-webkit-scrollbar-thumb {
  	background: #888; 
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #555; 
}

/* set direction of content so scrollbar can go on opposite side */
span {
	direction: ltr;
}

/* body */
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* N A V I G A T I O N */
/* ------------------- */

/* nav */
nav {
	/* whole nav bar is centered and set to flex for contents */
	width: 90vw;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* logo container */
nav>div {
	/* take up whole left side of nav */
	flex: 3;
	/* center vertically */
	margin-top: auto;
	margin-bottom: auto;
}

/* logo/link */
nav>div>a {
	/* push to left so space from left is similar to right side */
	margin-left: 10%;
}

/* main nav links list */
nav>ul {
	/* set links in row */
	display: flex;
	flex-direction: row;
	/* set space so it takes up rest of nav, but not more space than logo container */
	flex: 2;
	padding: 0;
	/* get rid of ul decorations */
	text-decoration: none;
	list-style-type: none;
	/* space + center */
	justify-content: space-around;
}

/* R E S T  O F  C O N T E N T */
/* --------------------------- */

/* rest of content */
#not-nav {
	/* set up sidebar -> main content layout */
	/*display: flex;
	flex-direction: row;*/
	display: grid;

	grid-template-rows: 100vh 100vh;
	grid-template-columns: 1fr 2fr;

	grid-template-areas: "sidebar content";
	/* hide scrolling so scrolling is set for just main content, not sidebar */
	overflow-y: hidden;
}

/* S I D E B A R */
/* ------------- */

.sidebar {
	grid-area: "sidebar";
	/* adjust sidebar space within container */
	height: 100vh;
	/* adjust sidebar contents positioning */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#name-and-desc {
	/* adjust positioning for name and description */
	display: flex;
	flex-direction: column;
	flex: 2;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
}

#social {
	/* adjust space provided for social media links */
	flex: 1;
}

#tags {
	/* adjust space provided for content tags */
	/* -adjust margin-bottom to make up for header bump that de-centers sidebar content */
	margin-bottom: 20%;
	width: 30%;
}

#social>ul, #tags>ul {
	/* adjust decoration for list contaieners and set up for content adjustments */
	padding: 0;
	display: flex;
	list-style-type: none;
	justify-content: space-between;
}

#tags>ul>a {
	/* make it so content tags' link containers take up 50% of space each... */
	width: 50%;
	text-align: center;
}


/* ... so that they are set up to create a border line between them */
#design-tag {
	border-right: 0.5px solid lightgrey;
}

#audio-tag {
	border-left: 0.5px solid lightgrey;
}

/* M A I N  C O N T E N T */
/* ---------------------- */

main {
	grid-area: "content";
	/* set up scrollbar on left by reversing content relative to span styling */
	direction: rtl;
	/* set up container for content */
	display: flex;
	flex-direction: column;
	flex: 4;
	/* reveal scrollbar */
	overflow-y: scroll;
}

.project-block {
	/* adjust spacing of project containers */
	padding: 3vh 0;
	width: 75%;
	margin: auto;
}

hr {
	/* create border line between project blocks */
	width: 100%;
	margin-top: 4vh;

	border: 1px dashed lightgrey;
	border-radius: 5px;
}

.project-block>ul {
	/* adjust spacing and decoration of project block list of tags */
	display: flex;
	width: 30%;
	padding: 0;
	list-style-type: none;
	justify-content: space-between;
}

/* F O O T E R */
/* ----------- */

footer {
  	bottom: 0;
  	width: 75%;
  	margin: auto;
  	padding-bottom: 3vh;
    text-align: left;
  	height: 30px; /* set the fixed height of the footer here */
  	line-height: 30px; /* vertically center the text there */
}

/* T A G  I N T E R A C T I O N */
/* ---------------------------- */

/*.display {
	display: block;
}

.hide {
	display: none;
}*/

/* M E D I A  Q U E R I E S */
/* ------------------------ */

/* tablet sizes */
@media only screen and (max-width: 1020px) {

	/* nav adjustments */
	/* - make nav links take up more space */
	nav>div>a {
		margin-left: 8%;
	}

	nav>div {
		flex: 1;
	}

	nav>ul {
		flex: 3;
	}

	/* put sizebar in column with rest of content */
	/*#not-nav {
		flex-direction: column;
		direction: rtl;
		overflow-y: scroll;
	}*/

	#not-nav {
		direction: rtl;
		overflow-y: scroll;
		overflow-x: hidden;

		display: grid;

		grid-template-rows: 100vh auto;
		grid-template-columns: calc(100vw - 10px);

		grid-template-areas: "header"
							 "content";
		
	}

	/* adjust sidebar so spacing matches rest of content in column */
	.sidebar {
		grid-area: "header";
		/*width: 80%;
		margin: auto;*/
		display: grid;

		grid-template-rows: 100%;
		grid-template-columns: 50% 50%;

		grid-template-areas: "left right";

		align-items: flex-start;
		direction: ltr;
		overflow: auto;
		padding-bottom: 3vh;
		border-bottom: 1px solid lightgrey;
	}

	.sidebar-container {
		grid-area: "left";
		justify-self: center;
		align-self: center;
		transform: translateY(-50%);
	}

	/* make sidebar content sit on the left */
	#name-and-desc {
		align-items: flex-start;
	}

	#social {
		width: 80%;
	}

	#tags {
		grid-area: "right";
		justify-self: center;
		align-self: center;
		transform: translateY(-50%);
	}

	/* scrollbar adjustments */
	main {
		grid-area: "content";
		overflow: visible;
	}

	.project-block {
		width: 80%;
	}

	footer {
		width: 80%;
	}
}

/* phone sizes */
@media only screen and (max-width: 740px) {

	.sidebar-container {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	#name-and-desc>p {
		width: 100%;
		text-align: right;
	}

	#tags>ul {
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		align-items: center;
		margin: 0;
	}

	#tags {
		width: 90%;
		height: 10%;
		transform: translateY(-85%);
	}

	#design-tag {
		border-right: initial;
	}

	#audio-tag {
		border-left: initial;
	}

	footer {
		padding-bottom: 15%;
	}
}

@media only screen and (max-width: 740px) and (orientation: landscape) {

	#not-nav {
		grid-template-rows: 100vh auto;
	}

	.sidebar-container{
		transform: translateY(-25%);
	}

	footer {
		padding-bottom: 3%;
	}
}